@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

$color-bg: rgb(255, 252, 235);
$color-text: rgb(80, 42, 49);
$color-primary: rgb(218, 108, 108);
$color-secondary: rgb(240, 210, 168);
$color-accent: rgb(162, 173, 118);

@mixin mobile {
  @media screen and (max-width: 1000px) {
    @content;
  }
}

html {
  background-color: $color-bg;
}

body {
  font-family: 'Fira Code', monospace;
  color: $color-text;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1024px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 3vh 0 7vh 0;

  @include mobile {
    padding: 0 1rem;
  }

  #logo {
    width: 60px;
  }

  nav {
    ul {
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
      list-style-type: none;
  
      li { 
        a {
          padding-left: 1.5rem;
          text-decoration: none;
          text-transform: lowercase;
          color: $color-primary;
          transition: all 0.2s ease-out;
  
          &:hover {
            color: $color-accent;       
          }
        }
      }
    }
  }
}

.nav-svg {
  width: 20px;
  height: 20px;
  stroke: $color-primary;
}

.hide-mobile {
  @include mobile {
    display: none;
  }
}

section {
  margin-bottom: 10vh;

  &#intro {
    max-width: 632px;
    align-self: center;
    padding: 0 1rem;
  }

  &#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.9rem;

    @include mobile {
      justify-content: space-evenly;
    }

    #to-top {
      text-align: center;
      flex-basis: 100%;
      color: $color-primary;

      &:hover {
        cursor: pointer;
        color: $color-accent;
      }
    }

    .card {
      max-width: 320px;
      display: flex;
      flex-direction: column;
      margin-bottom: 3rem;

      img {
        max-width: 100%;
      }

      h3 {
        color: $color-primary;
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 0;
      }
    }
  }
}

#top-line {
  font-size: 1.5rem;
}

.highlight {
  color: $color-primary;
}

.highlight2 {
  color: $color-accent;
}

a {
  color: $color-primary;
  text-decoration: none;
  text-transform: lowercase;

  &:hover {
    cursor: pointer;
    color: $color-accent;
  }
}

footer {
  text-align: center;

  #bear {
    max-width: 110px;
  }

  #email {
    color: $color-primary;
    text-decoration: none;
  }

  #footer-icons {
    margin-top: 1rem;
  }
}