@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
footer #email, section#projects #to-top, a {
  color: #7aa0e1;
  transition: all 0.4s ease-out;
}
footer #email:hover, section#projects #to-top:hover, a:hover {
  color: #6bd0b5;
  cursor: pointer;
}

footer #email, #type-greeting, section#projects > header > div button {
  background: rgba(122, 160, 225, 0.08);
  border-radius: 4px;
  color: #7aa0e1;
}

html {
  background-color: #ffffff;
}

body {
  font-family: "Fira Code", monospace;
  color: #342467;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1024px;
}

a {
  text-decoration: none;
  text-transform: lowercase;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 3vh 0 7vh 0;
}
@media only screen and (max-width: 1023px) {
  header {
    padding: 0 1rem;
  }
}
header #logo {
  max-width: 96px;
}
header nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  list-style-type: none;
}
header nav ul li a {
  padding-left: 1.5rem;
}
@media only screen and (max-width: 1023px) {
  header nav ul li a {
    padding-left: 1rem;
  }
}

.nav-svg {
  width: 20px;
  height: 20px;
  stroke: #7aa0e1;
}

@media only screen and (max-width: 1023px) {
  .hide-mobile {
    display: none;
  }
}

section#intro {
  max-width: 632px;
  align-self: center;
  padding: 0 1rem;
}
section#projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
  font-size: 0.9rem;
  margin-bottom: 6vh;
}
@media only screen and (max-width: 1023px) {
  section#projects {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
section#projects > header {
  grid-column: span 3;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}
@media only screen and (max-width: 1023px) {
  section#projects > header {
    grid-column: auto;
    margin-bottom: 1.75rem;
  }
}
section#projects > header > h2 {
  font-weight: normal;
  font-size: 1rem;
  margin-bottom: 0;
}
section#projects > header > p {
  text-transform: lowercase;
  font-style: italic;
  font-size: 0.8rem;
  color: #6bd0b5;
  margin-top: 0.15rem;
}
section#projects > header > div button {
  border: none;
  font-family: inherit;
  font-size: 0.8rem;
  margin: 0 0.45rem;
  padding: 0.25rem;
}
@media only screen and (max-width: 1023px) {
  section#projects > header > div button {
    margin-bottom: 0.5rem;
  }
}
section#projects > header > div button:hover {
  cursor: pointer;
}
section#projects #to-top {
  grid-column: span 3;
  text-align: center;
}
@media only screen and (max-width: 1023px) {
  section#projects #to-top {
    grid-column: auto;
  }
}
section#projects article.card {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  margin-bottom: 3.5rem;
}
section#projects article.card img {
  max-width: 100%;
}
section#projects article.card h3 {
  color: #7aa0e1;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
}
section#projects article.hidden {
  display: none;
}

.no-link {
  color: rgba(52, 36, 103, 0.33);
}

#top-line {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

#type-greeting {
  padding: 0.25rem 0.5rem;
}
@media only screen and (max-width: 767px) {
  #type-greeting {
    display: block;
    margin-bottom: 0.25rem;
    padding: 0.5rem 0;
  }
}

.highlight {
  color: #7aa0e1;
}

.highlight2 {
  color: #6bd0b5;
}

footer {
  text-align: center;
}
footer #email {
  text-decoration: none;
  padding: 0.5rem 3.5rem;
}
footer #email:hover {
  background: rgba(107, 208, 181, 0.1);
}
footer #footer-icons {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

/*# sourceMappingURL=main.css.map */
