@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

$color-bg: rgb(255, 252, 235);
$color-text: rgb(80, 42, 49);
$color-primary: rgb(218, 108, 108);
$color-secondary: rgb(240, 210, 168);
$color-accent: rgb(100, 162, 131);

@mixin mobile {
  @media screen and (max-width: 1000px) {
    @content;
  }
}

%hover-transition {
  color: $color-primary;
  transition: all 0.4s ease-out;

  &:hover {
    color: $color-accent;
    cursor: pointer;
  }
}

%backed-text {
  background: rgba($color-primary, 0.1);
  border-radius: 4px;
  color: $color-primary;
}

html {
  background-color: $color-bg;
}

body {
  font-family: 'Fira Code', monospace;
  color: $color-text;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1024px;
}

a {
  @extend %hover-transition;
  text-decoration: none;
  text-transform: lowercase;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 3vh 0 7vh 0;

  @include mobile {
    padding: 0 1rem;
  }

  #logo {
    width: 60px;
  }

  nav {
    ul {
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
      list-style-type: none;
  
      li { 
        a {
          padding-left: 1.5rem;
        }
      }
    }
  }
}

.nav-svg {
  width: 20px;
  height: 20px;
  stroke: $color-primary;
}

.hide-mobile {
  @include mobile {
    display: none;
  }
}

section {
  margin-bottom: 6vh;

  &#intro {
    max-width: 632px;
    align-self: center;
    padding: 0 1rem;
  }

  &#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.9rem;

    @include mobile {
      justify-content: space-evenly;
    }

    & > h2 {
      flex: 0 0 100%;
      text-align: center;
      font-weight: normal;
      font-size: 1rem;
    }

    #to-top {
      @extend %hover-transition;
      text-align: center;
      flex-basis: 100%;
    }

    .card {
      max-width: 320px;
      display: flex;
      flex-direction: column;
      margin-bottom: 3rem;

      img {
        max-width: 100%;
      }

      h3 {
        color: $color-primary;
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 0;
      }
    }
  }
}

#top-line {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.type-greeting {
  @extend %backed-text;
  padding: 0.25rem 0.5rem ;
}

.highlight {
  color: $color-primary;
}

.highlight2 {
  color: $color-accent;
}

footer {
  text-align: center;

  #bear {
    max-width: 110px;
  }

  #email {
    @extend %hover-transition;
    @extend %backed-text;
    text-decoration: none;
    padding: 0.5rem 3.5rem;

    &:hover {
      background: rgba($color-accent, 0.1);
    }
  }

  #footer-icons {
    margin-top: 1.25rem;
    margin-bottom: 1rem;
  }
}