@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

$color-bg: #ffffff;
$color-text: #342467;
$color-primary: #7aa0e1;
$color-accent: #6bd0b5;

@mixin mobile {
  @media only screen and (max-width: 1023px) {
    @content;
  }
}

@mixin responsive-greeting {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

%hover-transition {
  color: $color-primary;
  transition: all 0.4s ease-out;

  &:hover {
    color: $color-accent;
    cursor: pointer;
  }
}

%backed-text {
  background: rgba($color-primary, 0.08);
  border-radius: 4px;
  color: $color-primary;
}

html {
  background-color: $color-bg;
}

body {
  font-family: 'Fira Code', monospace;
  color: $color-text;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1024px;
}

a {
  @extend %hover-transition;
  text-decoration: none;
  text-transform: lowercase;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 3vh 0 7vh 0;

  @include mobile {
    padding: 0 1rem;
  }

  #logo {
    width: 60px;
  }

  nav {
    ul {
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
      list-style-type: none;
  
      li { 
        a {
          padding-left: 1.5rem;

          @include mobile {
            padding-left: 1rem;
          }
        }
      }
    }
  }
}

.nav-svg {
  width: 20px;
  height: 20px;
  stroke: $color-primary;
}

.hide-mobile {
  @include mobile {
    display: none;
  }
}

section {
  &#intro {
    max-width: 632px;
    align-self: center;
    padding: 0 1rem;
  }

  &#projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
    font-size: 0.9rem;
    margin-bottom: 6vh;

    @include mobile {
      grid-template-columns: 1fr;
      justify-items: center;
    }

    & > header {
      grid-column: span 3;
      text-align: center;
      display: flex;
      flex-direction: column;
      margin-bottom: 2.5rem;

      @include mobile {
        grid-column: auto;
        margin-bottom: 1.75rem;
      }

      & > h2 {
        font-weight: normal;
        font-size: 1rem;
        margin-bottom: 0;
      }

      & > p {
        text-transform: lowercase;
        font-style: italic;
        font-size: 0.8rem;
        color: $color-accent;
        margin-top: 0.15rem;
      }

      & > div button {
        @extend %backed-text;
        border: none;
        font-family: inherit;
        font-size: 0.8rem;
        margin: 0 0.45rem;
        padding: 0.25rem;

        @include mobile {
          margin-bottom: 0.5rem;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    #to-top {
      @extend %hover-transition;
      grid-column: span 3;
      text-align: center;

      @include mobile {
        grid-column: auto;
      }
    }

    article {
      &.card {
        max-width: 320px;
        display: flex;
        flex-direction: column;
        margin-bottom: 3.5rem;
  
        img {
          max-width: 100%;
        }
  
        h3 {
          color: $color-primary;
          font-size: 1rem;
          margin-top: 1rem;
          margin-bottom: 0;
        }
      }

      &.hidden {
        display: none;
      }
    }
  }
}

.no-link {
  color: rgba($color-text, 0.33);
}

#top-line {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

#type-greeting {
  @extend %backed-text;
  padding: 0.25rem 0.5rem ;

  @include responsive-greeting() {
    display: block;
    margin-bottom: 0.25rem;
    padding: 0.5rem 0;
  }
}

.highlight {
  color: $color-primary;
}

.highlight2 {
  color: $color-accent;
}

footer {
  text-align: center;

  #bear {
    max-width: 110px;
  }

  #email {
    @extend %hover-transition;
    @extend %backed-text;
    text-decoration: none;
    padding: 0.5rem 3.5rem;

    &:hover {
      background: rgba($color-accent, 0.1);
    }
  }

  #footer-icons {
    margin-top: 1.25rem;
    margin-bottom: 1rem;
  }
}