header {
  max-width: 55ch;
  margin: 0 auto 4rem auto;
  padding-top: 2rem;
}

nav {
  ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  
  li {
    transition: transform 200ms var(--bez);

    &:hover {
      transform: translateY(4px);
    }
  }
  
  a {
    text-decoration: none;
    font-size: 1.2rem;
  }
}