.feed-item {
  position: relative;
  display: grid;
  grid-template-columns: 100px 2fr;
  grid-template-areas: 
    "img name tags"
    "img desc desc";
  gap: 0.75rem 1rem;
  padding: 2px 0 2px 1.25rem;
  margin: 1rem 0 2rem 0;
  border-radius: 2px;
  border-left: 5px solid var(--clr-dark-primary);

  picture {
    grid-area: img;
    
    img {
      height: 100px;
      border-radius: 4px;
    }
  }

  h3 {
    grid-area: name;
  }
    
  p {
    grid-area: desc;
    font-size: 0.95rem;
  }
}