.feed-item {
  position: relative;
  display: grid;
  grid-template-columns: 100px 2fr;
  grid-template-areas: 
    "img name tags"
    "img desc desc";
  gap: 0.75rem 1rem;
  margin: 1rem 0 2rem 0;
  border-radius: 2px;
  border-left: 5px solid var(--clr-dark-primary);

  picture {
    grid-area: img;
    
    img {
      height: 100px;
      border-radius: 0 4px 4px 0;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100px;
      background: linear-gradient(to right, transparent, rgba(39, 39, 42, 0.45)),
        linear-gradient(to right, rgba(248, 161, 13, 0.25), transparent 50%);
    }
  }

  h3 {
    grid-area: name;
  }
    
  p {
    grid-area: desc;
    font-size: 0.95rem;
  }
}