---
title: Web Developer
layout: base.njk
eleventyNavigation:
  key: Home
---

<p id="greeting">Hey there!</p>
<h1>I'm Jasmine <mark>Web</mark>b</h1>

<section>
  <h2 id="my-title">A web developer</h2>
  <aside>It's literally my name!</aside>
  
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore sapiente reprehenderit iste, perspiciatis, culpa totam provident ratione unde error facilis magni, quos autem? Voluptates dolorem ex ab molestiae itaque adipisci quaerat sint quisquam beatae repellat inventore officia voluptatem, repudiandae earum deleniti obcaecati laborum rem.
  </p>
</section>

<section>
  <h2>Recent projects</h2>
  
  {% set recentProjects = collections.projects | reverse %}
  
  {%- for project in recentProjects.slice(0, 3) %}
    {% set src = "assets/thumbs/" + project.data.thumb %}
    {% set alt = "A screenshot of this project, " + project.data.name %}

    <article class="feed-item">
      {% image src, alt, "100" %}

      <h3>{{ project.data.name }}</h3>
      
      <ul role="list" class="tags-list">
        {%- for tech in project.data.tech %}
        <li>{{ tech }}</li>
        {%- endfor %}
      </ul>

      <p>{{ project.data.oneLiner }}</p>
    </article>
  {%- endfor %}
  
  <a href="projects" class="big-link">See more</a>
</section>