---
title: Projects
layout: base.njk
eleventyNavigation:
  key: Projects
---

<p>
  Here's a collection of my projects, ordered chronologically from most recent to oldest.
</p>

{%- for project in collections.projects | reverse %}
  <article>
    <h3>{{ project.data.name }}</h3>
    <div>{{ project.templateContent | safe }}</div>
  </article>
{%- endfor %}